p{
  font-size: 25px;
  font-family: 'Baloo 2', cursive;
  color: #B19170;
  margin-bottom: 25px;;
}

body{
    background-image: url("images/bg.png");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7C3B4;
}

li a {
  /*display: block;*/
  color: #B19170;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
}


li {
  display: inline;
}

li a:hover {
  background-color: #A4C7A2;
}

h1{
  background-color: #CDEFE8;
  font-size: 70px;
  font-family: 'Baloo 2', cursive;
  color: #B19170;
  text-shadow: 2px 2px #F1EBD9;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #F1EBD9;
  margin-top:5px;
  margin-bottom:5px;
  text-align: center:
  width: fit-content;
}

.dog{
/*background-color: #D7E9FD; /*#FFFBEF;*/
/*border: 3px solid #B19170;*/
font-family: 'Baloo 2', cursive;
color: #B19170;
font-size: 25px;
width: 20%;
/*border-radius: 100px;
/*align: center;*/
margin: auto;
}

.dog1{
width: 30%;
margin: auto;
}

.square{
  border-radius: 20%;
  border: 3px solid #B19170;
}

.buttons{
  background-color: #CDEFE8;
  font-size: 25px;
  font-family: 'Baloo 2', cursive;
  color: #B19170;
  width: 30%;
  margin: auto;
}


.pinkbutton {
  background-color: #F7C3B4;
  font-family: 'Baloo 2', cursive;
  color: #B19170;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px #B19170;
}